.signup__div {
    background-image: linear-gradient(var(--primary-color3), var(--primary-color2));
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.signup__form {
    background-image: linear-gradient(var(--primary-color2), var(--primary-color3));

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 40px;
    gap: 20px;

    color:white;
}

.signup__label {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.signup__input {
    border: .5px solid var(--primary-color2);
    height: 30px;
    width: 450px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.signup__input:focus {
    outline: black 1px solid;
}

.signup__submit {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-weight: bolder;
    border: 2px black solid;
}

.signup__submit:hover {
    background-color: var(--primary-color2);
}

.signup__error {
    color: red;
    position: relative;
}
