/* TODO Add site wide styles */
#root {
    height: 100vh;
    /* background-image: linear-gradient(rgb(26,26,26), rgb(0,0,0)); */
    background-image: linear-gradient(var(--primary-orange), var(--primary-white));
  }
  height: 100vh;
  /* background-image: linear-gradient(rgb(26,26,26), rgb(0,0,0)); */
  background-image: linear-gradient(rgb(184, 184, 184), rgb(1, 1, 1));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

ul,
li {
  list-style: none;
}

  button {
    cursor: pointer;
  }

  :root {
    --primary-light-blue: rgb(140, 185, 189);
    --primary-white: rgb(254, 251, 246);
    --primary-orange: rgb(236, 177, 89);
    --primary-grapefruit: rgb(182, 115, 82)
  }
button {
  cursor: pointer;
}

:root {
  --primary-light-blue: rgb(140, 185, 189);
  --primary-white: rgb(254, 251, 246);
  --primary-orange: rgb(236, 177, 89);
  --primary-grapefruit: rgb(182, 115, 82)
}
