.edit-character__div {
    width: 600px;
    background-image: linear-gradient(var(--primary-color3), var(--primary-color2));
    border-radius: 20px;
    margin: -20px;
    padding: 20px;
    font-weight: bolder;
}

.edit-character__title {
    display: flex;
    justify-content:center;
}

.edit-character__form {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding-top: 20px;
}

.edit-character__image {
    width: 200px;
    height: 200px;
}

.edit-character__img-label {
    width: 200px;
}

.edit-character__img-label > input {
    width: fit-content;
}

.edit-character__info {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.edit-character__section1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-character__section2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.edit-character__section3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 15px;
}

.edit-character__section4 {
    display: flex;
    flex-direction: column;
}

.edit-character__section4 > label {
    padding-top: 10px;
}

.edit-character__errors {
    color: red;
    font-size: 14px;
    text-align: center;
    display: block;
}

.edit-character__submit-button {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-weight: bolder;
    border: 2px black solid;
}

.edit-character__submit-button:hover {
    background-color: var(--primary-color2);
    color: whitesmoke;
}
