.game-selector {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    grid-gap: 100px;
    font-size: 40px;
}

.game-selector__header >h2 {
    font-family: "Copperplate";
}

.game-selector__options {
    display: grid;
    width: 90%;
    grid-template-areas:
    "box1 box2"
    "box3 box4";
    justify-content: center;
    gap: 150px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px 200px;
    padding-bottom: 10%;
}

.game-selector__game1 {
    grid-area: box1;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.game-selector__game2 {
    grid-area: box2;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.game-selector__game3 {
    grid-area: box3;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.game-selector__manage-characters {
    grid-area: box4;
    justify-self: center;
    width: 100%;
    height: 100%;
}

.game-selector__card {
    background-color: var(--primary-white);
    border:5px var(--primary-light-blue) solid;
    border-radius: 5px;

}

.game1 {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
}

.game1:hover {
    background-color: var(--primary-light-blue);
}

.game2:hover {
    background-color: var(--primary-light-blue);
}

.game3:hover {
    background-color: var(--primary-light-blue);
}

.manage-characters:hover {
    background-color: var(--primary-light-blue);
}

.game2 {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
}

.game3 {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
}

.manage-characters {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
}
