.login__div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-grapefruit);
}

.login__container {
    background-color: var(--primary-light-blue);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.login__demo-users {
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__demo1 {
    width: 150px;
    padding: 15px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 30px;
    gap: 20px;
}

.login__label {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: bold;
}

.login__input {
    border: 1px solid lightgrey;
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

.login__submit {
    width: 150px;
    height: 25px;
    font-size: medium;
    border-radius: 30px;
    border: none;

}
