.PVA__div {
  display: flex;
  flex-direction: column;

  padding-top: 100px;
  gap: 100px;

  background-image: url('../../../images/battleBackground.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.PVA__enemy-div,
.PVA__player-div {
    width: 80%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.PVA__enemy-hp-div,
.PVA__player-hp-div {
    background-color: darkgrey;
    padding: 10px;
    background-size: auto;
    margin: 0;
    height: min-content;
}


.PVA__character-name {
  font-size: 20px;
  color: white;
}

.PVA__health-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 200px;

}

/* Enemy CSS */
.PVA__enemy-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40%;
  padding-right: 40%;
}

.PVA__enemy-hp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PVA__enemy-hp-parent {
  width: 150px;
  height: 5px;
  background-color: grey;
}

.PVA__enemy-sprite {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

/* Player CSS */

.PVA__player-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40%;
  padding-right: 40%;
}

.PVA__player-hp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PVA__player-hp-parent {
  width: 150px;
  height: 5px;
  background-color: grey;
}

.PVA__player-sprite {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.PVA__player-hp-display {
  color: white;
  font-weight: bold;
}

.PVA__player-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(#428bca, #337ab7);
  border-radius: 10px;
  margin-bottom: 53px;
}

.PVA__player-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.PVA__what-will {
    font-size: 30px;
    color: white;
}

.PVA__player-move1,
.PVA__player-move2,
.PVA__player-heal {
    border: white 2px solid;
    color: white;
    padding: 12px 19px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 15px;
}

.PVA__player-move1 {
    background-color: red;
}

.PVA__player-move2 {
    background-color: blue;
}

.PVA__player-heal {
    background-color: green;
}



.PVA__player-move1:hover,
.PVA__player-move2:hover,
.PVA__player-heal:hover {
    background-color: lightblue;
}
