.navbar__div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--primary-color3);
    align-items: center;
}

.navbar__home>img {
    width: 60px;
    height: 50px;
}

.navbar__about {
    text-decoration: none;
    color: var(--primary-color2);
    font-size: 30px;
    font-weight: bold;
    font-family: "Copperplate";
}

.navbar__about:hover {
    color: var(--primary-color1);
}

.navbar__characters {
    text-decoration: none;
    color: var(--primary-color2);
    font-size: 30px;
    font-weight: bold;
    font-family: "Copperplate";
}

.navbar__characters:hover {
    color: var(--primary-color1);
}

.navbar__profile {
    font-size: 30px;
    background: none;
    border: none;
    color: var(--primary-color2);
    font-weight: bold;
    font-family: "Copperplate";
}

.navbar__profile:hover {
    color: var(--primary-color1);
}

.navbar__dropdown-menu {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    right: 10%;
    top: 10%; */
}

#navbar__logout__button {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-weight: bolder;
    border: 2px black solid;
    background-image: linear-gradient(var(--primary-color2), var(--primary-color3));
}

#navbar__logout__button:hover {
    background: linear-gradient(var(--primary-color1), var(--primary-color2));
    color: var(--primary-color3)
}
